<mat-sidenav-container>
  <mat-sidenav #detail position="end" [fixedInViewport]="true">
    <app-people-details [people]="(selectedPeople$ | async)!" />
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="flex overflow-hidden">
      <div class="flex-grow-1 flex mx-5 align-items-center justify-content-center">
        <div class="field grid w-full m-0">
          <label for="search" class="col-12 mb-2 md:col-1 md:mb-0">Search:</label>
          <div class="col-12 md:col-11">
            <input appKeyUp id="search" type="text" class="w-full text-3xl">
          </div>
        </div>
      </div>
      <div class="flex-none flex align-items-center justify-content-center mx-4">
        <button mat-raised-button color="primary" (click)="openNewDialog()">
          + New Person
        </button>
      </div>
    </div>
    <app-people-list [peopleList]="(peopleList$ | async)!" (onDeleteEvent)="onDeletePerson($event)" />
  </mat-sidenav-content>
</mat-sidenav-container>
